__pycache__/
.vscode/
*.code-workspace
.DS_Store
.idea/

data/*
!data/final/
data/final/*
!data/raw/
data/raw/*
!data/raw/trunc_len.json
# supp material from journals mustn't be tracked
supp_material/*
# archive
data/archive/
# clinical info not ignore
!data/raw/clinical_maps_abx.xlsx

results/

src/__pycache__/
*.egg-info/
.installed.cfg
*.egg

# logs and wip files
slurm_*.sh
*_out.txt
x_*
