__pycache__/
.vscode/
*.code-workspace
.DS_Store
.idea/

tests/*

data/*
!data/original_data/
!data/raw_data/
data/raw_data/*
!data/raw_data/trunc_len.json

models/

plots/

src/__pycache__/
src/configs/models/
src/configs/config_AD*.py
src/wandb/

test.py

*.egg-info/
.installed.cfg
*.egg

# supp material from journals mustn't be tracked
supp_material/*

# wip file
test_wip.ipynb
slurm_md.sh
slurm_seq.sh
*_out.txt
x_*
